body{
    background-color: rgb(170, 186, 189);
    max-width: 2000px;
    
}

hr{
    background-color: rgb(31, 27, 27);
    border-style: rgb(233, 233, 87);
    height: 2px;
    width: 100%;
}

h1{ 
   color: rgb(26, 51, 26); 
}

h3{ 
    color:rgb(26, 51, 26) ;
}

img{

}